.alphabet-game {
   margin-top: 5rem;
   text-align: center;
   @include m(center) {
     display: flex;
     justify-content: center;
   }
   @include e(item) {
     .row {
       justify-content: center;
     }
   }
   input {
     margin-bottom: 2rem;
   }
 }

.alphabet-game-table {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  justify-content: flex-start;
  @include e(item) {
    height: 70px;
    width: 70px;
    &.hit {
      color: green;
    }
    &.miss {
      color: red;
    }
  }
}

.difficulty-level {
  display: flex;
  justify-content: space-between;
  width: 200px;
  @include e(item) {
    cursor: pointer;
    color: black;
    padding: 10px;
    &.active {
      color: red;
    }
  }
}

.game-status {
  .btn {
    margin-bottom: 2rem;
  }
}

.score {
  @include e(title){
    font-weight: bold;
    margin-bottom: 1rem;
  }
  @include e(hit) {
    color: green;
    margin-bottom: .500rem;
  }
  @include e(miss) {
    color: red;
    margin-bottom: .500rem;
  }
  @include e(left) {
    color: gray;
  }
}